.embla__viewport {
  overflow: hidden;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 14%;
  min-width: 0;
}
