.About {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--text-color-primary);

  > p:first-child {
    font-size: 1.8rem;
  }

  > p:not(:first-child) {
    color: var(--text-color-secondary);
  }

  > p:last-child {
    margin-bottom: 0;
  }

  p a.link {
    margin: 0 6px;
    text-decoration: none;
    color: var(--accent-color-primary);

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.8;
    }

    svg {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      padding-left: 2px;
    }
  }
}
