.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 40px 24px;
  border-top: 1px solid var(--border-color-primary);

  > .text-attribution {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.8rem;
    color: var(--text-color-tertiary);
  }

  > .ScrollingMotto {
    display: flex;
    align-items: center;

    .motto-text-container {
      width: 220px;
      display: flex;
      padding: 2px 8px;
      overflow: hidden;
      color: var(--text-color-primary);
      background: color-mix(
        in hsl,
        var(--bg-color-secondary) 30%,
        var(--text-color-primary) 5%
      );

      .motto-text {
        padding-right: 30px;
        white-space: nowrap;
        will-change: transform;
        animation: scroll-left 10s linear infinite;
      }
    }

    .next-motto-btn {
      border: none;
      color: var(--text-color-secondary);
      background: none;
      cursor: pointer;

      &:hover {
        color: var(--text-color-primary);
      }

      &:active {
        color: var(--accent-color-primary);
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
