.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  border-top: 0.5px solid var(--text-color-tertiary);

  > span.text-banner {
    padding: 2px 8px;
    background: var(--text-color-primary);
    font-family: var(--font-secondary);
    color: var(--bg-color-primary);
  }

  > img.layer-cake {
    width: 50px;
  }
}
