.Tech {
  display: flex;
  flex-direction: column;
  gap: 12px;

  > .tech-category {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.9rem;

    > span.category-name {
      font-weight: 500;
    }

    > ul.category-list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;

      > li:not(:last-child)::after {
        content: '·';
        padding: 0 4px;
      }
    }
  }
}
