/**
  * @file Palette variables for colors referenced in the app.
  * Colors are named as per {@link https://chir.ag/projects/name-that-color}
  */

$apple: #43a047;
$cod-gray: #121212;
$dove-gray: #646363;
$gallery: #efefef;
$limeade: #41c300;
$mine-shaft: #212121;
$scorpion: #5e5e5e;
$seashell: #f1f1f1;
$silver: #c3c3c3;
$silver-chalice: #9d9d9d;
$white: #fff;
