.App {
  scroll-behavior: smooth;

  .content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 64px 46% 16px 40px;
    background-color: var(--bg-color-primary);

    h3 {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 400;
      text-transform: uppercase;
      color: var(--text-color-tertiary);
    }
  }
}
