.App {
  scroll-behavior: smooth;

  .content {
    display: grid;
    grid-template-columns: 180px minmax(0, 1fr);
    align-items: start;
    gap: 60px;
    padding: 3% 6%;
    background-color: var(--bg-color-primary);

    h3 {
      font-size: 1.3rem;
      font-weight: 400;
      color: var(--text-color-primary);
    }

    > .left {
      grid-row: 1 / -1;
      position: sticky;
      top: 38%;
    }

    > :not(.left) {
      grid-column: 2 / 3;
    }
  }
}
