@use 'palette';

:root {
  --bg-color-primary: #{palette.$cararra};
  --bg-color-secondary: #{palette.$porcelain};
  --text-color-primary: #{palette.$cod-gray};
  --text-color-secondary: #{palette.$river-bed};
  --text-color-secondary-bright: #{palette.$oxford-blue};
  --text-color-tertiary: #{palette.$pale-sky};
  --accent-color-primary: #{palette.$heliotrope};
  --accent-color-secondary: #{palette.$blue-chalk};
  --accent-color-hover: #{palette.$fog};
  --border-color-primary: #{palette.$catskill-white};

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
}

[data-theme='dark'] {
  --bg-color-primary: #{palette.$woodsmoke};
  --bg-color-secondary: #{palette.$shark};
  --text-color-primary: #{palette.$athens-gray};
  --text-color-secondary: #{palette.$gray-chateau};
  --text-color-secondary-bright: #{palette.$loblolly};
  --text-color-tertiary: #{palette.$pale-sky};
  --accent-color-primary: #{palette.$heliotrope-variant};
  --accent-color-secondary: #{palette.$revolver};
  --accent-color-hover: #{palette.$port-gore};
  --border-color-primary: #{palette.$shark};
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  button {
    font-size: 1rem;
    color: var(--text-color-primary);
    cursor: pointer;
  }
}
