@media (max-width: 1060px) {
  .Work {
    display: flex;
    flex-direction: column;

    .Shortcuts {
      margin: 0;
    }
  }

  .Timeline .experiences {
    gap: 20px;

    button.experience.focused {
      transform: none;
      font-weight: 500;
    }
  }
}

@media (max-width: 818px) {
  .Tech {
    .tileset {
      grid-template-columns: repeat(auto-fill, 110px);

      .tile {
        justify-content: center;

        > .name {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 773px) {
  .Shortcuts {
    display: none;
  }
}

@media (max-width: 700px) {
  .App {
    .content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .Footer {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

@media (max-width: 460px) {
  .Header {
    flex-direction: column;
    gap: 10px;
  }
}
