@media (max-width: 1199px) {
  .App .content {
    padding-right: 38%;
  }
}

@media (max-width: 991px) {
  .App .content {
    padding-right: 22%;
  }
}

@media (max-width: 767px) {
  .App {
    .content {
      padding-right: 40px;
    }

    .Footer > .ScrollingMotto {
      display: none;
    }
  }
}

@media (max-width: 479px) {
  .Tech > .tech-category {
    justify-content: space-between;

    > ul.category-list {
      flex-direction: column;
      align-items: end;

      > li:not(:last-child)::after {
        display: none;
      }
    }
  }
}
