.ExperienceCard {
  width: 560px;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  box-shadow: 0.5px 0.5px 2px var(--text-color-tertiary);
  border-radius: 16px;

  .metadata {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: var(--font-secondary);

    .title > a.link {
      text-decoration: none;
      color: var(--accent-color-primary);

      &:hover {
        text-decoration: underline;
      }

      &:active {
        opacity: 0.8;
      }

      svg {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        padding-left: 2px;
      }
    }

    .duration {
      font-size: 14px;
    }
  }

  ul.achievements-desc {
    margin: 0;
    padding: 0 30px;
    font-size: 14px;
    color: var(--text-color-secondary);

    > li:not(:last-child) {
      padding-bottom: 20px;
    }

    a {
      color: var(--accent-color-primary);

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}
