.Timeline {
  display: flex;
  font-size: 14px;

  &:hover {
    .timeline-ruler {
      background-color: var(--text-color-tertiary);
    }

    .experience:hover {
      color: var(--text-color-secondary);

      .marker {
        border-color: var(--text-color-secondary);
      }
    }

    .experience:not(:hover) {
      color: var(--text-color-tertiary);

      .marker {
        border-color: var(--text-color-tertiary);
      }
    }

    .experience:active {
      color: var(--text-color-primary);

      .marker {
        border-color: var(--text-color-primary);
      }
    }
  }

  .timeline-ruler {
    width: 2px;
    max-height: 324px;
    margin: 0;
    border: none;
    background-color: var(--text-color-secondary);
    translate: 5px;
  }

  .experiences {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 16px 0 20px 0;
    cursor: default;

    .experience {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 0;
      text-align: left;
      font-family: var(--font-primary);
      color: var(--text-color-secondary);
      border: none;
      background: none;
      cursor: pointer;

      &.focused {
        transform: scale(1.2);
        transform-origin: left;
        color: var(--accent-color-primary);

        .marker {
          border-color: var(--accent-color-primary);
        }
      }

      .marker {
        flex-shrink: 0;
        width: 6px;
        height: 6px;
        border: 1px solid var(--text-color-secondary);
        border-radius: 50%;
        background-color: var(--bg-color-primary);
        z-index: 1;
      }
    }
  }
}
